<div class="jumbotron">
	<h1 class="text-center">
		Lista de Pedidos 
	</h1>
</div>
<p ng-show="mensagem.texto">
	{{mensagem.texto}}
</p>
<div class="filters-box">
	<input ng-model="endereco" type="search" placeholder="Filtre os resultados aqui"></input>
	<span class="glyphicon glyphicon-search"></span>
</div>
<div class="list-boxes">	
	<div class="list-box" ng-repeat="endereco in enderecos | filter:endereco | filter:numero | filter:cidade | filter:estado">
		<div class="box-img">
			<img src="/img/location.png" height="110px" width="110px" />
		</div>
		<div class="box-body">
			<p>
				<span>{{endereco.endereco}}</span>
				<span>{{endereco.numero}}</span>
			</p>
			<p>
				<span>{{endereco.cidade}}</span>
			</p>
			<p>
				<span>{{endereco.estado}}</span>
			</p>
		</div>
	</div>
</div>	
