<div class="jumbotron">
	<h1 class="text-center">
		Lista de Pedidos
	</h1>
</div>
<button class="btn btn-primary" ng-click="incrementa()">
	Novo
</button>
<input ng-model="filtro" type="search" placeholder="nome"></input>
<p>Pedidos cadastrados: {{total}}</p>
<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th>SKU</th>
			<th>QUANTIDADE</th>
			<th>PREÇO</th>
			<th>IMAGEM</th>
			<th class="text-center">Ação</th>
		</tr>
		<tr ng-repeat="pedido in pedidos | filter:filtro">
			<td>
				<a>{{pedido.sku}}</a>
			</td>
			<td>{{pedido.quantidade}}</td>
			<td>{{pedido.preco}}</td>
			<td><img src="{{pedido.imagem}}"/ height="100px" width="100px"></td>
			<td class="text-center">
				<button class="btn btn-warning">
					Remover
				</button>
			</td>		
		</tr>
	</table>
</div>	