<div class="jumbotron">
	<h1 class="text-center">
		Lista de Pedidos 
	</h1>
</div>
<p ng-show="mensagem.texto">
	{{mensagem.texto}}
</p>
<div class="filters-box">
	<input ng-model="nome" type="search" placeholder="Filtre os resultados aqui"></input>
	<span class="glyphicon glyphicon-search"></span>
</div>
<div class="list-boxes">	
	<div class="list-box" ng-repeat="pedido in pedidos | filter:nome | filter:sku">
		<div class="box-img">
			<img src="{{pedido.imagem}}" height="110px" width="110px" />
		</div>
		<div class="box-body">
			<p>{{pedido.nome}}</p>
			<p>{{pedido.sku}}</p>
		</div>
	</div>
</div>	
